version: '3'
services:
  web:
    image: nginx:1.15.6
    ports:
      - "8000:80"
    depends_on: # 追加
      - app
    volumes:
      - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
  app:
    build: ./docker/php
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: common
      MYSQL_USER: eko
      MYSQL_PASSWORD: eko
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3333:3309"
    volumes:
      - mysql-data:/var/lib/mysql
volumes:
  mysql-data:
